body {
  font-family: Oswald, sans-serif;
  background-color: #adf5f5
}

address {
  font-family: Oswald, sans-serif;
  font-weight: 200;
  font-style: normal
}

li {
  Font-weight: normal;
  Font-size: 20px;
}

.subtext {
  font-weight: 300;
  font-size: 16px;
  margin-left: 40px;
}

main p {
  margin-left: 40px;
  font-weight: 300;
}

img {
  border: solid 2px black;  
}
